In [3]:
x = 2
y = 2
z=  x + y
print("value of z", z)

value of z 4

In [2]:
z

4

In [4]:
type(x)

int

In [4]:
print("sum of x and y is ",z)

sum of x and y is  4

In [5]:
round(3.456)

3

In [10]:
print("hello world")

hello world

In [12]:
x = 'Datascience'

In [13]:
print ("welcome to",x)

welcome to Datascience

In [20]:
x = [1,2]
x

[1, 2]

In [29]:
x = ['welcome','to','students']
x[0]

'welcome'

In [30]:
x[1]

'to'

In [31]:
x[2]

'students'

In [32]:
abc = [0,1,2,3,4,5,6,7,8]

In [33]:
abc[0:3]

[0, 1, 2]

In [34]:
abc[4:]

[4, 5, 6, 7, 8]

In [35]:
len(abc)

9

In [37]:
min(abc)

0

In [38]:
max(abc)

8

In [44]:
## If statement 

x = 3
if x < 5:
    print ("x is less than 5")

x is less than 5

In [5]:
# If Else Statement

x = 3 
if x < 5:
    print ("x is less than 5")
else:
     print("x is greater than 5")

x is less than 5

In [49]:
# for Loop

for i in range(5): print (i)

0
1
2
3
4

In [8]:
def nov():
    print("hello students")
    print("welcome to datascience")

In [51]:
nov()

hello students
welcome to datascience

In [9]:
x = 2
y = 3
z = x + y
nov()
print("sum of x and y is" , z)

hello students
welcome to datascience
sum of x and y is 5